body {
    background-image: url("sky.jpg");
    background-size: cover;
    margin: 25px;
}

.delete {
    background-color: crimson;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.btn {
    padding: 10px;
    background-color: #1F363D;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #40798C;
}

.delete:hover {
    background-color: orangered;
}

.card {
    background-color: lightslategray;
    margin: auto;
    width: 400px;
    box-shadow: 2px 2px 2px 2px black;
    margin-bottom: 30px;
    border-radius: 10px;
}

.title {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.date {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.description {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.options li {
    display: inline-block;
    margin-bottom: 20px;
}

.header {
    background-color: slategray;
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 25px;
    width: 800px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;
}

.header a {
    margin-bottom: 100px;
}


/* .article {
    background-color: slategray;
    width: 800px;
    margin: auto;
    padding: 10px;
    border: 2px solid#1F363D;
    border-radius: 10px; */

main {
    background-color: slategrey;
    max-width: 800px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}